[Unit]
Description=TeapotNet
After=local-fs.target network.target

[Service]
Type=simple
User=teapotnet
Group=teapotnet
WorkingDirectory=/var/lib/teapotnet
ExecStart=/usr/bin/teapotnet

[Install]
WantedBy=multi-user.target
