body
{
	font-family: Sans-Serif;
	font-size: 80%;
	/*background: #F0F0F0 url(background.png) repeat-x;*/ /* TODO : change or decide it's not needed */
	padding: 0;
	margin: 0;
}

a
{
	font-size: 1em;
	margin: 5px;
	color: #1E7FCB;
}

a:link, a:visited
{
	text-decoration: none;
}

/*a:hover
{
	text-decoration: underline;
}*/

div
{
	margin: 0;
	padding: 0;
}

img
{
	margin: 0em;
	padding: 0em;
	border: 0;
}

form
{
	display: inline;	
}

hr 
{
	
}

h1
{
	text-shadow: 2px 2px 1px #A0A0A0;
}

h2
{
	font-size: 1.5em;
	margin-top: 0.25em;
	text-shadow: 2px 2px 1px #A0A0A0;
}

h3
{
	font-size: 1.1em;
	text-shadow: 2px 2px 1px #A0A0A0;
	margin-bottom: 7px;
	margin-top: 4px;
}

table 
{
	margin: 0em;
	padding: 0em;
	border: 0; 
	border-collapse: collapse;
	border-style: none;
	border-width:0
}

tr
{
	margin: 0;
	border: 0;
	padding: 0;
	border-width:0;
}

td
{
	margin: 0;
	border: 0;
	padding: 0.1em;
	border-width:0;
	vertical-align: top;
}

input
{
	margin: 0.2em;
}

#panel
{
	float: left;
	height: 30em;
	width: 128px;
}

#corner
{
	background-image: url(icon.png);
	width: 128px;
	height: 128px;
}

#content
{
	margin-left: 128px;
	max-width: 600pt;
	text-align: justify;
}

/*#logo
{
	height: 96px;
	margin: 0.5em;
	margin-top: 16px;
}*/

#alice
{
        float: right;
	background-image: url(alice1.png);
        width: 128px;
        height: 128px;
}

#alice:hover
{
	background-image: url(alice2.png);
}

.title
{
	font-weight: bold; 
}

.value
{
  
}

.name
{
	font-weight: bold;
}

.box
{
	float: left;
	margin: 0.5em;
	padding: 1em;
	background-color: #FFFFFF;
	border: 2px solid #E0E0E0;
	border-radius: 0.5em;
	box-shadow: 0em 0em 0.5em 0.10em #404040;
	min-height: 35em;
	height: auto;
	width: 100%;
}

.side
{
	float: left;
	margin-right: 2em;
	margin-left: 1em;
	margin-bottom: 2em;
}

.clear
{
	clear: both;
}

#top_banner
{
	width: 100%;
	height: 50px;
	background-color: #606060;
	margin-bottom: 25px;
	/*background: #F0F0F0 url(background.png) repeat-x;*/
}

.menubuttons
{
	float: right;
	width: auto;
	height: auto;
	display: inline;
}

a.menulink
{
	float: right;
	height: 50px;
	width: 125px;
	border-left: 1px solid white;
	border-right: 1px solid white;
	color: #FFFFFF;
	text-align: center;
	vertical-align: center;
	line-height: 50px;
}

a.menulink:hover
{
	background-color: #303030;
}

.logosite
{
	float: left;
	margin-left: 10%;
	margin-top: 2px;
	margin-bottom: 2px;
	width: 25%;
}

#slides
{
	margin: 20px;
}

.sumphrasewrapper
{
	float: left;
	width: 100%;
	margin-bottom: 7px;
}

.sumphraseimageleft
{
	float: left;
	padding: 10px;
	margin-left: 3em;
}

.sumphraseimageright
{
	float: right;
}

.sumphrase
{
	text-align: center;
	font-weight: bold;
	font-size: 1.6em;
	color: #1E7FCB;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 8px;
	margin-top: 4px;
}

#text_content
{
	margin-left: auto;
	margin-right: auto;
	max-width: 60em;
	width: 90%;
	min-height: 400px;
}

#footer
{
	margin-top: 50px;
	float: left;
	padding-top: 40px;
	padding-left: 10%;
	width: 90%;
	height: auto;
	min-height: 150px;
	background-color: #606060;
}

.footer
{
	float: left;
	min-height: 120px;
	width: 20%;
	/*border: 1px solid black;*/
	text-align: left;
}

.footer a
{
	clear: both;
	border: none;
	width: auto;
	height: auto;
	margin: 0;
	padding: 0;
	float: left;
	line-height: 2px;
	color: #909090;
	margin-left: 1px;
}

.footer h2
{
	margin-bottom: 10px;
}

.footer a:hover
{
	text-decoration: underline;
	background: none;
}

#text_content a
{
	clear: both;
	color: #1E7FCB;
	/*border: none;
	width: auto;
	height: auto;
	margin: 0;
	padding: 0;
	float: left;
	line-height: 2px;
	color: blue;
	margin-left: 1px;*/
}

.perso
{
	float: left;
	margin-bottom: 3em;
	padding: 2px;
	height: auto;
	width: auto;
}

.photo
{
	float: left;
	border: 2px groove black;
}

.bio
{
	float: left;
	width: 60%;
	margin-left: 50px;
	text-align: justify;
}

table
{
	border-collapse: collapse;
	text-align: center;
}

tr
{

}

.blog_text table
{
	border-collapse: collapse;
	text-align: left;
	padding: 0;
	margin-top: 1em;
	margin-bottom: 1em;
}

.blog_text ul
{
	list-style-type:circle;
}

td
{
	border: 1px solid black;
	vertical-align: middle;
	padding: 2px;
}

.blog_text td
{
	border: 1px solid #606060;
	vertical-align: top;
	padding-left: 0;
	padding-right: 1em;
	width: 20em;
}

.cellcenter
{
	border-color: red;
	text-align: center;
}

.note
{
	font-size: 0.8em;
}

.tabcenter
{
	margin-left: auto;
	margin-right: auto;
}

h4
{
	font-weight: bold;
	margin-bottom: 1px;
}

.blog_post
{
	margin-top: 1em;
	margin-bottom: 6em;
}

.blog_date
{
	margin-top: -3px;
	/*border-bottom: 1px solid #F7E35F;*/
	font-variant: small-caps;
	border-bottom: 3px solid #606060;
	color: #606060;
}

.blog_text
{
	font-size: 1.1em;
	margin-top: 5px;
	padding-top: 5px;
	padding-left: 10px;
	padding-right: 10px;
	text-align: justify;
}

.blog_title
{
	font-size: 1.5em;
	margin-top: 0.25em;
	text-shadow: 2px 2px 1px #A0A0A0;
	margin-bottom: 0;
}

.blog_author
{
	/*font-size: 0.7em;*/
	font-variant:small-caps;
	text-shadow: 0;
}


.blog_title:hover
{
	color: #F0C300;
}

.blog_title a
{
	color: black;
}

#blog_div
{
	margin-left: auto;
	margin-right: auto;
	width: 100%;
}

#blog_comments a
{
	font-size: 1em;
	margin: 5px;
	float: right;
	color: #1E7FCB;
}

#fb-root
{
	display: none;
}

.social_buttons
{
	margin-top: 2em;
}

.fb-like
{

}

#social_links_main
{
	min-height: 0;
	height: auto;
	width: 100%;
	text-align: center;
}

#social_links_main img
{
	margin-left: 3em;
}

.blog_text p
{

}

.blog_illustration
{
	width: 100%;
	height: auto;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	margin-top: 1em;
	margin-bottom: 1em;
}

.blog_illustration img
{
	margin-left: 2em;
	margin-right: 2em;
}

#start_up_guide
{
	min-height: 0;
}

.connectme
{
	margin-right: auto;
	margin-left: auto;
	margin-top: 15%;
	min-height: 15%;
	width: 40%;
	border: 1px solid black;
	text-align: center;
	padding: 20px 0;
	font-size: 1.2em;
}

a.connectme
{
	font-style: bold;
}

.logoutbox
{
	margin-top: 2px;
	float: right;
	width: 20em;
	min-height: 0;
}

.logout
{
	float: right;
}

a.logout
{
	font-style: bold;
	font-size: 1.2em;
}

.myinfo
{
	float: left;
	padding-left: 0.2em;
	min-height: 0;
}

.myemail
{
	font-size: 1.2em;
	font-style: bold;
}

.button
{
        display: inline-block;
	min-width: 4em;
        margin: 0.2em;
        margin-bottom: 0.5em;
        padding: 0.4em;
	line-height: 1.4em;
        color: #000000;
        background-color: #E8D630;
	border: 1px solid #A0A0A0;
	border-radius: 0.5em;
	text-align: center;
        vertical-align: middle;
}

.button:hover
{
        background-color: #B0B0B0;
}

.gtopbanner
{
	float: left;
	width: 97%;
	min-height: 5em;
	padding-left: 2%;
	margin-bottom: 2em;
}

.gmailcontact
{
	border: 1px solid black;
	border-radius: 0.5em;
	margin-top: 1em;
	margin-bottom: 1em;
	padding: 0.4em;
	min-height: 4em;
}

.gmailcontact h2
{
	font-size: 1.1em;
	text-shadow: none;
}

#selectallemails
{
	cursor: pointer;
}

#sendinvitations
{
	cursor: pointer;
}

.infogmailcontact
{
	width: 80%;
	float: left;
}

.contactphoto
{
	width: 15%;
	float: left;
}

.selectedcontact
{
	background-color: #FFF48D;
}

#searchbargmailid
{
	text-align: center;
}

.searchbargmail
{
	width: 80%;
	height: 1.5em;
	border: 1px solid black;
	border-radius: 0.5em;
	margin-bottom: 0.5em;
}

@media screen and (max-width: 800px)
{
	#top_banner
	{
		height: 6em;
	}

	body
	{
		padding: 0;
		margin: 0;
	}

	.logosite
	{
		margin: 0;
		float: left;
		text-align: center;
		width: 100%;
		height: 3em;
	}

	img.logosite
	{
		margin-left: auto;
		margin-right: auto;
	}

	.menubuttons
	{
		float: left;
		display: inline;
		width: 100%;
		margin-left: -2%;
	}

	a.menulink
	{
		float: right;
		height: 4em;
		width: 19%;
		border-top: 1px solid white;
		border-right: 1px solid white;
		color: #FFFFFF;
		text-align: center;
		vertical-align: center;
		font-size: 0.8em;
	}

	#text_content
	{
		width: 99%;
		margin: 0;
		padding: 0;
	}

	.box
	{
		margin: 0;
		padding: 0;
		margin-bottom: 1.5em;
	}

	#tpn_footer
	{
		width: 40%;
		text-align: left;
	}

	#contact_footer
	{
		width: 40%;
		text-align: left;
	}

	#footer .menulink
	{
		text-align: left;
		float: left;
		margin: 0;
		border: 0;
		height: 1em;
	}

	.question > h3
	{
		text-shadow: none;
		font-size: 0.9em;
	}

	.blog_illustration img
	{
		margin-left: 0;
		margin-right: 0;
	}

	.blog_text td
	{
		font-size: 0.9em;
	}
}


