Source: teapotnet
Section: net
Priority: extra
Maintainer: Paul-Louis Ageneau <paul-louis@ageneau.org>
Build-Depends: debhelper (>= 9), dh-systemd, libgnutls28-dev (>= 3.2.0), nettle-dev (>= 2.7.0), libargon2-0-dev
Standards-Version: 3.9.3
Homepage: https://teapotnet.org/
Vcs-Git: https://github.com/paullouisageneau/Teapotnet.git
Vcs-Browser: https://github.com/paullouisageneau/Teapotnet.git

Package: teapotnet
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libgnutls-deb0-28 (>= 3.2.0), libnettle4 (>= 2.7.0), libargon2-0
Description: Private and decentralized social network for file sharing and streaming

