html
{
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
}

body
{
	font-family: Sans-Serif;
	font-size: 100%;
	background: #F0F0F0 url(/background.png) repeat-x;
	width: 100%;
	height: 95%;
	margin: 0;
	padding: 0;
}

h1
{
	text-shadow: none;
}

h2
{
	text-shadow: none;
}

h3
{
	text-shadow: none;
}

table 
{
	border-width: 1px;
	border-radius: 0;
}

tr
{

}

td
{

}

fieldset 
{
	border-width: 1px;
	border-radius: 0;
}

label 
{
	border-width: 1px;
}

legend 
{

}

input
{

}

p
{
	margin-left: 0.5em;
	margin-right: 0.5em;
}

textarea
{
	resize: none;
	border-radius: 0;
}

#page
{
	max-width: none;
}

#header
{

}

.huge
{
	font-size: 2em;
}

.box
{
	border-width: 1px;
	border-radius: 0;
}

.files
{
	white-space: normal;
}

.files tr
{
	height: 3em;
	max-height: 3em;
	border-top: 1px solid #B0B0B0;
}

.files td.filename
{
	white-space: normal;
	overflow: hidden;
	text-overflow: ellipsis; 
}

.files td.actions
{
	display: none;
}

.contacts tr
{
	height: 3em;
	max-height: 3em;
	border-top: 1px solid #B0B0B0;
}

.contacts td.status
{
	width: auto;
	min-width: 10em;
}

.contacts td.files
{
	width: auto;
	padding-right: 0.5em;
}

.contacts td.chat
{
	width: auto;
	padding-right: 0.5em;
}

#instances tr
{
	height: 3em;
	max-height: 3em;
	border-top: 1px solid #B0B0B0;
}

.menu tr
{
	height: 5em;
	border-top: 1px solid #B0B0B0;
}

.menu td.title
{
	font-size: 1.5em;
}

.menu .bigicon
{
	height: 5em;
}
