* {
	margin:0;
	padding:0;
	image-rendering: auto;
	-ms-interpolation-mode: bicubic;
}

html
{
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
}

body
{
	font-family: Sans-Serif;
	font-size: 80%;
	/*background: #F0F0F0 url(/background.png) repeat-x;*/
	background: #F0F0F0 url(/brushed.png) repeat;
	width: 100%;
	height: 95%;
	margin: 0;
	padding: 0;
}

a:link, a:visited
{
	text-decoration: none;
	color: #550AAA;
}

a:hover
{
	text-decoration: underline;
}

h1 a:link
{
	color: #000000;
}

h1 a:visited
{
	color: #000000;
}

h1 a:hover
{
	text-decoration: underline;
}

iframe
{
	display: block;
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	border: 0;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
}

div
{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
}

img
{
	margin: 0;
	padding: 0;
	border: 0;
	vertical-align: middle;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
}

p
{
	margin: 0.5em;
}

form
{
	display: inline;	
}

hr 
{
	clear: both;
}

h1
{
	margin: 0.5em;
	padding: 0;
	font-size: 1.3em;
	font-weight: bold;
}

h2
{
	margin: 0.25em;
	padding: 0;
	margin-bottom: 0.5em;
	font-size: 1.2em;
	font-weight: bold;
}

h3
{
	margin: 0.25em;
	padding: 0;
        margin-bottom: 0.5em;
	font-size: 1.1em;
	font-weight: bold;
}

table 
{
	width: 100%;
	margin: 0em;
	padding: 0em;
	border: 0; 
	border-collapse: collapse;
	border-style: none;
	border-width:0
}

tr
{
	margin: 0;
	border: 0;
	padding: 0;
	border-width:0;
}

td
{
	margin: 0;
	border: 0;
	padding-top: 0.1em;
	padding-bottom: 0.1em;
	padding-left: 0.2em;
	padding-right: 0.2em;
	border-width:0;
	text-align: left;
}

fieldset 
{
	margin: 0em;
	margin-top: 2em;
	margin-bottom: 0.5em;
	padding: 0.5em;
	padding-top: 1.5em;
	padding-left: 1em;
	padding-right: 1em;
	background-color: #FFFFFF;
	border: 2px solid #E0E0E0;
	border-radius: 4px;
	box-shadow: 0px 0px 8px 2px #404040;
}

label 
{
	float: left;
	clear: both;
	width: 20%;
	margin-right: 0.5em;
	padding-top: 0.4em;
	text-align: right;
	font-weight: bold;
}

legend 
{
	position: absolute;
	padding: 0.2em 0.5em;
	margin-top: -2.5em;
	text-align: right;
	background-color: #FFFFFF;
	border: 2px solid #E0E0E0;
	border-radius: 4px;
	box-shadow: 0px 0px 8px 2px #404040;
}

input
{
	display: inline-block;
	margin: 0.2em;
	padding: 0.4em;
	line-height: 1.4em;
	color: #000000;
	border: 1px solid #606060;
	border-radius: 4px;
	font-family: inherit;
	font-size: inherit;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
}

input[type="submit"]
{
	min-width: 6em;
	padding: 0.4em;
	border-radius: 4px;
	cursor: pointer;
	color: #000000;
	background-color: #FFDC0A;
	border: 1px solid #E0BC00;
	text-align: center;
}

input[type="submit"]:hover
{
	background-color: #FFF040;
}

input[type="button"]
{
	min-width: 6em;
	padding: 0.4em;
	border-radius: 4px;
	cursor: pointer;
	color: #000000;
	background-color: #FFDC0A;
	border: 1px solid #E0BC00;
	text-align: center;
}

input[type="button"]:hover
{
	background-color: #FFF040;
}

input[type="text"]
{
	color: #000000;
        background-color: #FFFFFF;
}

input[type="password"]
{
	color: #000000;
        background-color: #FFFFFF;
}

select
{
	display: inline-block;
	margin: 0.2em;
	padding: 0.2em;
	padding-right: 1em;
}

textarea
{
	display: block;
	resize: none;
	overflow: auto;
	padding: 0.5em;
	border: 1px solid #000000;
        border-radius: 4px;
	color: #000000;
	background-color: #FFFFFF;
	font-family: inherit;
	font-size: inherit;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
}

.button
{
        display: inline-block;
	min-width: 4em;
        margin: 0.2em;
        margin-bottom: 0.5em;
        padding: 0.4em;
	line-height: 1.4em;
        color: #000000;
        background-color: #B0B0B0;
	border: 1px solid #A0A0A0;
	border-radius: 4px;
	text-align: center;
}

a.button
{
        color: #000000;
        cursor: pointer;
        background-color: #FFDC0A;
        border: 1px solid #E0BC00;
}

a.button:hover
{
	background-color: #FFF040;
	text-decoration: none;
}

.banner
{
	display: block;
	top: 0;
	width: 100%;
	margin: 0;
	padding: 0.5em;
	background: #FCFCFC;
	border-bottom: 1px solid #A0A0A0;
	text-align: center;
}

.loading > body > * 
{
    display: none;
}

.loading body
{
    background: #F0F0F0;
}

.animloading body 
{
    background: #F0F0F0 url(/loading.png) no-repeat 50% 40%;
}

#page
{
	width: 100%;
	height: 100%;
	max-width: 70em;
	margin-top: 0;
	margin-bottom: 0.5em;
	margin-left: auto;
	margin-right: auto;
	padding: 0;
}

#header
{
	width: 100%;
	text-align: left;
	margin-bottom: 1em;
}

#mainheader
{
	width: 100%;
	text-align: center;
	margin-top: 1em;
	margin-bottom: 2em;
}

#header div
{
	display: inline-block;
}

#title
{
	margin: 0.5em;
	margin-top: 1em;
	font-weight: bold;
	font-size: 1.6em;
	max-width: 66%;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

#wrapper
{
	display: table;
	width: 100%;
	height: 100%;
	min-height: 100%;
}

#leftcolumn
{
	display: table-cell;
	vertical-align: top;
	width: 38%;
	height: 100%;
	margin: 0;
	padding: 1em;
	background : transparent;
	border: none;
	box-shadow: none;
}

#rightcolumn
{
	display: table-cell;
	vertical-align: top;
	width: 62%;
	height: 100%;
	margin: 0;
	padding: 1em;
	padding-right: 2em;
}

#leftpage
{
	width: 80%;
	height: 100%;
	min-width: 400px;
	margin-top: 0;
	margin-bottom: 0.5em;
	margin-left: auto;
	margin-right: auto;
	padding: 0;
}

#rightcolumn iframe
{
	display: inline-block;
	max-width: 72em;
}

#header .button
{
	float: right;
}

#content
{
	clear: both;
	width: 100%;
	height: 20em;
}

#topmenu
{
	min-height: 2em;
	margin: 0.25em;
	text-align: left;
}

#footer
{
	width: 100%;
	margin-bottom: 1em;
	font-size: 0.8em;
	text-align: center;
	background-color: rgba(24,24,24,0);
}

#logo
{
	width: 128px;
}

#logo img
{
	width: 128px;
}

#header #logo
{
	float: left;
	margin: 0.25em;
	width: 64px;
}

#header #logo img
{
	width: 64px;
}

#login #logo
{
	margin-left: auto;
	margin-right: auto;
	margin-top: 2em;
	margin-bottom: 2em;
}

#login .user
{
	width: 20em;
	max-width: 80%;
	margin: 0.5em;
	padding: 0.5em;
	margin-left: auto;
	margin-right: auto;
	font-weight: bold;
	border: 1px solid #B0B0B0;
        border-radius: 4px;
	background-color: #F5F5F5;
	box-shadow: 1px 1px 3px #202020;
	overflow: hidden;
	text-overflow: ellipsis;
}

#login form
{
	text-align: center;
}

#login input
{
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 0em;
	margin-bottom: 0.25em;
}

#login input[type="submit"]
{
	width: 10em;
}

#login label
{
	float: none;
}

#login table
{
	max-width: 40em;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 2em;
}

#login table input
{
	width: 100%;
}

#login table input[type="submit"]
{
	width: 10em;
}

#login table td.leftcolumn
{
	width: 25%;
	text-align: right;
}

#login table td.rightcolumn
{
	width: 25%;
	text-align: right;
}

#login table td.middlecolumn
{
	width: 50%;
	text-align: center;
}

#leftcolumn #logo
{
	margin-left: auto;
	margin-right: auto;
	margin-top: 0.5em;
	margin-bottom: 0.5em;
}

#leftcolumn #search
{
	width: 100%;
	margin-bottom: 2em;
}

#leftcolumn #search form
{
	display: block;
	width: 80%;
	max-width: 420px;
	margin: 0;
	padding: 0;
	margin-left: auto;
	margin-right: auto;
}

#leftcolumn #search input[type="text"]
{
	display: block;
	width: 100%;
	margin: 0;
}

#chat
{

}

#chat #messages
{
	width: 100%;
	height: 80%;
	overflow-y: auto;
}

#chat .panel
{
	display: table;
	width: 100%;
	height: 20%;
	padding-top: 0.5em;
	border-top: 1px solid black;
	overflow: hidden;
}

#chat .panel form
{
	display: block;
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
}

#chat .panel .input
{
	width: 100%;
	height: 100%;
	margin: 0;
	border: 0;
	color: #000000;
	background-color: #FFFFFF;
}

#newsfeed
{
	margin-top: 1em;
}

#newsfeed .message
{
	max-width: 85%;
	width: 85%;
	margin: 0;
	margin-bottom: 0.5em;
}

#newsfeed .message .header
{
	display: block;
	
}

#newsfeed .message .header img.avatar
{
	width: 48px;
	height: auto;
	min-height: 48px;
}

#newsfeed .message .content
{
	
}

#newsfeed .message .attachment .attached
{
	margin-top: -2.6em;
	margin-right: -4em;
}

#optionsnewsfeed
{
	float: right;
	margin: 0.25em;
	margin-bottom: 1em;
}

#statuspanel
{
	display: block;
	width: 100%;
	overflow: hidden;
}

#statuspanel form
{
	display: block;
	overflow: hidden;
}

#statuspanel .button
{
	float: left;
	width: 4em;
	height: 5em;
	margin: 0;
	margin-right: 0.5em;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
}

#statuspanel .button img
{
	max-width: 4em;
	max-height: 3.6em;
}

#statuspanel textarea
{
	width: 100%;
	height: 5em;
	margin: 0;
}

.attachedfile
{
	display: none;
	margin: 0.2em;
	padding: 0.2em 0.5em;
	background-color: #FFFFFF;
	border: 1px solid black;
	border-radius: 4px;
	max-width: 30em;
	overflow: hidden;
	text-overflow: ellipsis; 
}

.attachedfile .filename
{
	margin-left: 0.5em;
}

#info
{

}

#error, #notification
{
	width: 100%;
	margin-top: 5em;
	text-align: center;
}

#error img, #notification img
{
	max-width: 50%;
	padding-bottom: 2em;
}

.huge
{
	font-size: 3em;
}

.title
{
	font-weight: bold; 
}

.value
{
  
}

img.avatar
{
	display: inline-block;
	width: 32px;
	height: 32px;
	margin: 0;
	padding: 0;
	margin-right: 0.5em;
	background-color: #FFFFFF;
	border: 1px solid #A0A0A0;
	border-radius: 4px;
}

.message
{
	display: block;
	clear: both;
	position: relative;
	margin: 0.5em;
	margin-left: 0.5em;
	margin-right: 0.5em;
	padding: 0.5em;
	border: 1px solid #B0B0B0;
        border-radius: 4px;
	background-color: #F5F5F5;
	box-shadow: 1px 1px 3px #202020;
	word-wrap: break-word;
}

.message .header
{
	margin-right: 0.75em;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.message .header .date
{
	font-size: 0.8em;
	color: #606060;
}

.message .header .author
{
	font-weight: bold;
	padding-right: 0.5em;
}

.message .header img.avatar
{
	float: left;
	margin: 0em 0.5em 0em 0em;
}

.message .footer
{
	display: block;
	clear: both;
}

.message .attachment
{
	display: block;
	float: right;
	margin: 0.5em;
	white-space: nowrap;
	color: #606060;
}

.message .attached
{
	position: relative;
	background-color: #FFFFFF;
	border: 1px solid black;
	box-shadow: 1px 1px 5px #202020;
	color: black;
	text-overflow: ellipsis;
}

.message .attached .filename
{
	display: block;
	line-height: 16px;
	margin: 8px;
	margin-left: 32px;
}

.message .attached .clip
{
	position: absolute;
	top: -19px;
	left: 10px;
}

.message .attachment .attached
{
	margin-top: -1em;
}

.message .attachment .icon
{
	margin-left: 0.5em;
	margin-right: 0.5em;
	max-width: 32px;
	max-height: 32px;
}

.message .buttonsbar
{
	float: right;
	clear: right;
}

.message .button
{
	float: right;
	margin: 0;
	margin-left: 0.5em;
}

.message iframe
{
	display: block;
	margin: 0.5em;
	border: 1px solid black;
	background-color: #000000;
}

.newmessage
{
	box-shadow: 0px 0px 8px 4px #FFDC0A;
}

.childmessage
{
	width: 80%;
	margin-left: 15%;
	margin-bottom: 0.5em;
}

.morereplies
{
	width: 80%;
	margin-left: 15%;
	text-align: center;
	margin-bottom: 0.5em;
	cursor: pointer;
	background-color: #FFFFD0;
	border: 1px solid #FFF48D;
	border-radius: 0.25em;
}

.reply
{
	display: none;
	width: 80%;
	margin-left: 15%;
	margin-bottom: 0.5em;
	padding: 0;
}

.replypanel form
{
	display: block;
	overflow: hidden;
}

.replypanel textarea
{
        width: 100%;
	height: 5em;
	margin: 0;
}

.replypanel .button
{
	float: left;
	width: 4em;
	height: 5em;
	margin: 0;
	margin-right: 0.5em;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
}

.replypanel .button img
{
	max-width: 4em;
	max-height: 3.6em;
}

.me
{
	background-color: #FFFFA0;
	border-color: #E0E050;
}

.important
{
	font-weight: bold;
	color: blue;
	text-decoration: blink;
}

.messagescount
{
	font-weight: bold;
	text-decoration: blink;
}

.status
{
	font-weight: bold;
}

.attached
{
	display: block;
}

img.preview 
{
	max-width: 400px;
	max-height: 200px;
}

.box
{
	margin: 0em;
	margin-top: 0.5em;
	margin-bottom: 0.5em;
	padding: 0.5em;
	width: 100%;
	background-color: #FFFFFF;
	border: 1px solid #E0E0E0;
	border-radius: 4px;
	box-shadow: 0px 0px 8px 2px #404040;
	overflow: hidden;
}

#files
{
	margin-bottom: 2em;
}

.files button
{
	float: left;
}

.files
{
	margin-top: 0.5em;
	white-space: nowrap;
	padding: 0.25em;
}

.filestr
{
	min-height: 16px;
	margin-top: 2px;
	/*border-bottom: 1px solid grey;*/
}

.filestr:hover
{
	background-color: #C0C0C0;
}

.filestr .icon
{
	width: 16px;
	min-height: 16px;
	padding-right: 0.25em;
	text-align: left;
}


.files tr
{
	min-height: 16px;
}

.files tr:hover
{
	background-color: #C0C0C0;
}

.files tr td
{

}

.files td.icon
{
	width: 16px;
	min-height: 16px;
	padding-right: 0.25em;
	text-align: left;
}

.files td.filename
{
	max-width: 24em;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis; 
}

.files td.access
{
	width: 6em;
}

.files td.filename .type
{
	padding-right: 0.25em;
	font-family: monospace;
	font-weight: bold;
	font-variant: small-caps;
	font-size: 1.3em;
}

.files td.size
{
	width: 6em; 
}

.files td.add
{
	width: 5em;
}

.fileselectorwindow
{
	max-height: 20em;
	overflow-y: auto;
}

#contacts
{
	margin-top: 1em;
}

#contactsTable
{
	margin: 0;
	width: 100%;
}

.contactstr
{
	clear: both;
	margin: 0;
	min-height: 16px;
	width: 100%;
}

.contactstr div
{
	padding-left: 0.25em;
	padding-right: 0.25em;
}

.contactstr button
{
	float: left;
}

.contactstr:hover
{
	background-color: #C0C0C0;
}

.contactstr .status
{
	float: right;
	font-weight: bold;
	margin-right: 1px;
}

.contacts tr
{
	min-height: 16px;
}

.contacts tr:hover
{
	background-color: #C0C0C0;
}

.invitations tr
{
	min-height: 16px;
}

.invitations tr:hover
{
	background-color: #C0C0C0;
}

td.actions
{
        width: 16px;
        height: 16px;
        padding-left: 0.5em;
        text-align: left;
        white-space: nowrap
}

td.actions a
{
        margin-right: 16px;
}

#files .button
{
        float: right;
}

#contacts .button
{
        float: right;
}

#instances tr
{
	min-height: 16px;
}

#instances tr:hover
{
	background-color: #C0C0C0;
}

#instances tr td
{

}

#instances td.status
{
	width: 10em;
	text-align: right;
}

.menu tr
{
	height: 5em;
}

.menu tr td
{

}

.menu tr:hover
{
	background-color: #C0C0C0;
}

.menu td.title
{
	font-weight: bold;
	font-size: 1.33em;
}

.menu .bigicon
{
	height: 5em;
}

.disconnected
{
	margin: 0;
}

.found
{
	margin: 0;
}

.myself
{
	margin: 0;
	/*background-color: #00E000;*/
	background-color: #BBD2E1;
	/*border: 1px solid black;*/
}

.online
{
	/*background-color: #00E000;*/
	/*background-color: #FFDC0A;*/
	margin: 0;
	background-color: #BBD2E1;
}

.connected
{
	margin: 0;
	background-color: #FFF48D;
	/*background-color: #FFDC0A;*/
	/* background-color: FEF86C;*/
}

#status.button
{
	font-weight: bold;
	width: auto;
	display: inline-block;
        margin: 0.2em;
        margin-bottom: 0.5em;
        padding: 0.4em;
	border: 1px solid #A0A0A0;
	border-radius: 4px;
	text-align: center;
}

#status.button.online
{
	background-color: #BBD2E1;
}

#status.button.connected
{
        background-color: #FFF48D;
}

.search
{
	margin-left: 0;
}

.contactinfo
{
	width: 100%;
	padding: 2px;
	background-color: #FFFFFF;
	border: 1px solid #E0E0E0;
	text-align: left;
	display: none;
}

.contactinfo .name
{

}

.linkfiles img
{
	width: 36px;
	height: 36px;
	margin: 2px;
}

.linkprofile img
{
	width: 36px;
	height: 36px;
	margin: 2px;
}

.linkboard img
{
	width: 36px;
	height: 36px;
	margin: 2px;
}

.linkchat img
{
	width: 36px;
	height: 36px;
	margin: 2px;
}

.conversation
{
	margin-top: 1em;
	clear: both;
}

.profileinfo
{
	font-size: 1.1em;
	margin-top: 2px;
	margin-bottom: 2px;
}

.profileinfo input
{

}

.inputprofile
{
	width: 97%;
}

#profileheader
{
	height: 200px;
}

#personalstatus
{
	float: left;
	font-size: 1.2em;
	width: 70%;
	height: 150px;
	margin-top: 40px;
	line-height: 40px;
	text-align: center;
}

#personalstatus input
{
	float: none;
	display: inline;
	width: 25em;
	max-width: 50%;
	text-align: center;
}

#profileavatar
{
	float: right;
	border: 1px solid black;
	width: auto;
	height: auto;
	min-width: 128px;
	min-height: 128px;
	max-width: 20%;
	max-height: 256px;
	margin-right: 20px;
}

.statusquotemark
{
	font-family: serif;
	font-style: bold;
	font-size: 1.4em;
	color: black;
}

.empty
{
	color: gray;
}

.gifloading img
{
	display: block;
	margin: 0 auto;
}

form #trackerlink
{
	margin-left: 1em;

}

#invitationmethods
{
	display: inline-block;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	margin-top: 1em;
	width: 100%;
}

.invitationimg
{
	display: inline-block;
	margin-right: 3em;
	width: 110px;
}

.invitationimg img
{
	cursor: pointer;
	margin: 2px;
}

.isvalid
{
	background-color: #80FF80 !important;
}

.isinvalid
{
	background-color: #FF8080 !important;
}

#howtotext
{
	margin-top: 1em;
	margin-bottom: 1em;
	margin-left: auto;
	margin-right: auto;
	width: 85%;
	background-color: #FFF48D;
	padding: 0.5em;
	text-align: center;
	border-radius: 4px;
}

/* Mobile version */  

@media screen and (max-width: 790px)
{
	html, body
	{
		margin: 0;
		padding: 0;
	}
	
	#page
	{
		width: 100%;
		margin: 0;
		padding: 0;
	}

	#page p
	{
		margin-left: 1em;
		margin-right: 1em;
		text-align: center;
	}

	#wrapper 
	{
		display: block;
		width: 100%;
		height: 100%;
		max-width: 1024px;
		margin: 0;
		padding: 0;
	}

	#leftcolumn
	{
		display: block;
		width: 100%;
		height: auto;
		margin: 0;
		padding: 0;
	}

	#rightcolumn 
	{
		display: block;
		width: 100%;
		height: auto;
		margin: 0;
		padding: 0;
	}
	
	#leftpage
	{
		width: 100%; 
	}

	#logo
	{
		width: 64px;
	}
	
	#logo img
	{
		width: 64px;
	}
	
	#statuspanel textarea
	{
		width: 95%;
		margin-left: auto;
		margin-right: auto;
	}
	
	.box
	{
		border-radius: 0;
	}

	fieldset
	{
		border-radius: 0;
	}
	
	.files
	{
		white-space: normal;
	}
	
	.files td.filename
	{
		white-space: normal;
		overflow: hidden;
		text-overflow: ellipsis; 
	}

	#statuspanel .button
	{
		margin-left: 0.5em;
	}
	
	.message .attachment
	{
		display: block;
		clear: none;
		float: none;
		overflow: auto;
		max-width: 100%;
		min-height: 2em;
		margin: 0.5em 0em 0.5em 0em;
	}
	
	.message .attachment .attached
	{
		display: block;
		float: left;
		max-width: 100%;
		margin: 0;
		box-shadow: none;
		box-sizing: border-box;
		-moz-box-sizing: border-box;
	}
	
	#newsfeed .message .attachment .attached
	{
		margin: 0;
	}
	
	.message .attachment .attached .filename
	{
		margin: 0.5em;
	}
	
	.message .attachment .attached .clip
	{
		display: none;
	}
	
	.message .attachment img.preview
	{
		max-width: 100%;
	}
	
	.message iframe
	{
		display: block;
		clear: both;
		float: none;
		max-width: 100%;
		margin: 0.5em 0em 0.5em 0em;
	}
	
	#newsfeed .message
	{
		max-width: 100%;
		width: 100%;
	}
	
	#newsfeed .childmessage
	{
		width: 90%;
		margin-left: 10%;
	}
	
	#newsfeed .reply
	{
		width: 90%;
		margin-left: 10%;
	}
	
	#newsfeed .morereplies
	{
		width: 90%;
		margin-left: 10%;
	}
	
	.files td.actions a
	{	
		margin: 0;
		padding: 0;
	}
}

/* End of mobile version */

/* Tablet version */  

@media screen and (min-width : 791px) and (max-width : 1024px)
{
	#wrapper 
	{
		display: block;
		width: 100%;
		height: auto;
		max-width: 1024px;
		margin: 0;
	}

	#leftcolumn
	{
		display: block;
		width: 100%;
		height: auto;
	}

	#rightcolumn 
	{
		display: block;
		width: 100%;
		height: auto;
	}
	
	#leftpage
	{
		width: 100%; 
	}
}

/* End of Tablet version */
