html
{
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
}

body
{
	font-family: Sans-Serif;
	font-size: 80%;
	background: #F0F0F0 url(/background.png) repeat-x;
	width: 100%;
	height: 95%;
	margin: 0;
	padding: 0;
}

a:link, a:visited
{
	text-decoration: none;
	color: #550AAA;
}

a:hover
{
	text-decoration: underline;
}

h1 a
{
	color: #000000;
}

h1 a:visited
{
	color: #000000;
}

h1 a:hover
{
	text-decoration: underline;
}

div
{
	margin: 0;
	padding: 0;
}

img
{
	margin: 0em;
	padding: 0em;
	border: 0;
}

form
{
	display: inline;	
}

hr 
{
	clear: both;
	
}

h1
{
	margin: 0.5em;
	padding: 0;
	font-size: 1.3em;
	font-weight: bold;
	text-shadow: 2px 2px 1px #A0A0A0;
}

h2
{
	margin: 0.25em;
	padding: 0;
	margin-bottom: 0.5em;
	font-size: 1.2em;
	font-weight: bold;
	text-shadow: 2px 2px 1px #A0A0A0;
}

h3
{
	margin: 0.25em;
	padding: 0;
        margin-bottom: 0.5em;
	font-size: 1.1em;
	font-weight: bold;
	text-shadow: 0.1em 0.1em 0.05em #A0A0A0;
}

table 
{
	width: 100%;
	margin: 0em;
	padding: 0em;
	border: 0; 
	border-collapse: collapse;
	border-style: none;
	border-width:0
}

tr
{
	margin: 0;
	border: 0;
	padding: 0;
	border-width:0;
}

td
{
	margin: 0;
	border: 0;
	padding-top: 0.1em;
	padding-bottom: 0.1em;
	padding-left: 0.2em;
	padding-right: 0.2em;
	border-width:0;
	vertical-align: top;
	text-align: left;
}

fieldset 
{
	margin: 0em;
	margin-top: 2em;
	margin-bottom: 0.5em;
	padding: 0.5em;
	padding-top: 1.5em;
	padding-left: 1em;
	padding-right: 1em;
	background-color: #FFFFFF;
	border: 2px solid #E0E0E0;
	border-radius: 0.5em;
	box-shadow: 0em 0em 0.5em 0.10em #404040;
}

label 
{
	float: left;
	clear: both;
	width: 20%;
	margin-right: 0.5em;
	padding-top: 0.4em;
	text-align: right;
	font-weight: bold;
}

legend 
{
	position: absolute;
	padding: 0.2em 0.5em;
	margin-top: -2.5em;
	text-align: right;
	background-color: #FFFFFF;
	border: 2px solid #E0E0E0;
	border-radius: 0.5em;
	box-shadow: 0em 0em 0.5em 0.10em #404040;
}

input
{
	display: inline-block;
	margin: 0.2em;
	padding: 0.4em;
	color: #000000;
	background-color: #FFFFFF;
	border: 1px solid #606060;
	border-radius: 0.5em;
	vertical-align: middle;
}

input[type="submit"]
{
	min-width: 6em;
	padding: 0.4em;
	border-radius: 0.5em;
	cursor: pointer;
	color: #000000;
	background-color: #FFDC0A;
	border: 1px solid #E0BC00;
	text-align: center;
        vertical-align: middle;
}

input[type="submit"]:hover
{
	background-color: #FFF040;
}

input[type="text"]
{
	height: auto;
}

.button
{
        display: inline-block;
	min-width: 6em;
        margin: 0.2em;
        margin-bottom: 0.5em;
        padding: 0.4em;
        color: #000000;
        background-color: #B0B0B0;
	border: 1px solid #A0A0A0;
	border-radius: 0.5em;
	text-align: center;
        vertical-align: middle;
}

a.button
{
        color: #000000;
        cursor: pointer;
        background-color: #FFDC0A;
        border: 1px solid #E0BC00;
}

a.button:hover
{
	background-color: #FFF040;
	text-decoration: none;
}

textarea
{
	resize: none;
	width: 94%;
	height: 99%;
	border: 1px solid #000000;
	border-radius: 0.5em;
	padding-left: 5px;
	padding-top: 2px;
}

#leftcolumn #search
{
	float: left;
	width: 95%;
	margin-top: 1em;
	padding: 0;
}

#leftcolumn #search form
{
	margin: 0;
	padding: 0;
}

#leftcolumn #search input[type="text"]
{
	margin: 0;
	width: 100%;
}

.loading > body > * 
{
    display: none;
}

.loading body
{
    background: #F0F0F0;
}

.animloading body 
{
    background: #F0F0F0 url(/loading.png) no-repeat 50% 40%;
}

#page
{
	width: 100%;
	height: 100%;
	max-width: 60em;
	margin-top: 0.5em;
	margin-bottom: 0.5em;
	margin-left: auto;
	margin-right: auto;
	padding: 0;
}

#header
{
	width: 100%;
	text-align: left;
	vertical-align: middle;
	margin-bottom: 1em;
}

#mainheader
{
	width: 100%;
	text-align: center;
	vertical-align: middle;
	margin-top: 1em;
	margin-bottom: 2em;
}

#header div
{
	display: inline-block;
}

#title
{
	margin: 0.5em;
	margin-top: 1em;
	font-weight: bold;
	font-size: 1.6em;
	max-width: 66%;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

#wrapper
{
	width: auto;
	min-height: 100%;
}

#rightcolumn
{
	float: left;
	width: 71%;
	margin: 0px 0px;
	text-align: justify;
}

#leftcolumn
{
	float: left;
	width: 25%;
	height: 100%;
	min-width: 320px;
	max-width: 480px;
	min-height: 100%;
	max-height: 1500px;
	background : transparent;
	border: none;
	box-shadow: none;
	padding: 0 20px;
}

#content
{
	clear: both;
	width: 100%;
	height: 20em;
	text-align: justify;
}

#topmenu
{
	min-height: 2em;
	margin: 0.25em;
	text-align: left;
}

#footer
{
	float: left;
	bottom: 0;
	left: 0;
	width: 100%;
	margin-left: 4px;
	font-size: 0.8em;
	text-align: center;
	padding-top: 2em;
	background-color: rgba(24,24,24,0);
}

#logo
{
	width: 128px;
}

#header #logo
{
	float: left;
	margin-bottom: 1em;
}

#leftcolumn #logo
{
	margin-left: auto;
	margin-right: auto;
}

#chat
{
	width: 100%;
	height: 95%;
	margin-top: 0.5em;
	background-color: #FFFFFF;
}

#chatmessages
{
	height: 80%;
	overflow-y: auto;
}

#chatpanel
{
	display: table;
	width: 100%;
	height: 20%;
	padding-top: 0.5em;
	border-top: 1px solid black;
	overflow: hidden;
}

#chatpanel form
{
	display: block;
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
}

#chatpanel .chatinput
{
	width: 99%;
	height: 99%;
	margin: 0;
	border: 0;
	color: #000000;
	background-color: #FFFFFF;
}


#status
{
	width: 100%;
	height: 95%;
	margin-top: 0.5em;
	background-color: #FFFFFF;	
}

#newsfeed
{
	float: left;
	height: auto;
	width: 95%;
	padding-top: 2px;
	padding-bottom: 4px;
	background-color: rgba(255,255,255,1);
	border: 2px solid #E0E0E0;
	border-radius: 0.5em;
	border: 2px solid #E0E0E0;
	box-shadow: 0em 0em 0.5em 0.10em #404040;
	overflow: hidden;
}

#optionsnewsfeed
{
	margin: 0.25em;
	padding: 0;
	margin-bottom: 0.5em;
	font-size: 1.2em;
	font-weight: bold;
	text-shadow: 2px 2px 1px #A0A0A0;
}

select
{
	background:transparent;
	font-size:0.75em;
	float: right;
	width: 130px;
	overflow: hidden;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	text-align: left;
	border: none;
}

select, x:-moz-any-link, x:default 
{
	background: transparent;
	font-size: 0.75em;
	float: right;
	width: 140px;	
	text-indent: 13px; /* To make browser arrow disappear on Firefox */
	overflow: hidden;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	text-align: left;
	border: none;
}


.customselect
{
	float: right;
	width: 130px;
	height: auto;
	overflow: hidden;
	background: url(/select_arrow.png) no-repeat right #BBD2E1;
	border: 2px solid #E0E0E0;
	border-radius: 0.5em;
}

.customselect, x:-moz-any-link
{
	width: 115px; /* = (approx.) width of select - text-indent of select */
}

#statusmessages
{
	float: left;
	margin-left:3px;
	margin-top:3px;
	height: auto;
	width: 95%;
	overflow-y: auto;
	padding-top: 2px;
	padding-bottom: 4px;
	background-color: rgba(255,255,255,1);
}

#statuspanel
{
	display: table;
	width: 100%;
	height: auto;
	padding-top: 0.5em;
	padding-bottom: 2em;
	overflow: hidden;
}

#statuspanel form
{
	display: block;
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
}

#info
{

}

#error, #notification
{
	width: 100%;
	margin-top: 5em;
	text-align: center;
}

#error img, #notification img
{
	max-width: 50%;
	padding-bottom: 2em;
}

.huge
{
	font-size: 3em;
}

.title
{
	font-weight: bold; 
}

.value
{
  
}

.user
{
	font-weight: bold;
}

.message
{
	float: left;
	margin: 1px;
	width: 90%;
	word-wrap: break-word;
}

div.message
{
	margin-left: 5%;
	margin-right: 5%;
	padding: 5px;
	padding-top: 3px;
	padding-bottom: 3px;
	padding-left: 1px;
	padding-right: 1px;

	/* TODO : word overflow */
}

.oldmessage
{
	opacity: 0.7;
}

.message .date
{
	font-size: 0.8em;
	padding-top: 2px;
	padding-left: 2px;
	color: grey;
}

.message .author
{
	font-weight: bold;
	padding-left: 5px;
}

.message .content
{

}

.out
{
	color: #1010F0;
}

.in
{
	color: #F01010; 
}

.statusdisplay
{
	color: #000000;
	background-color: #FEF86C;
	padding-top: 3px;
	padding-bottom: 3px;
	padding-left: 3px;
	padding-right: 3px;
	border: 1px solid white;
}

.me
{
	color: #000000;
	background-color: #FFFFFF;
	padding-top: 3px;
	padding-bottom: 3px;
	padding-left: 3px;
	padding-right: 3px;
	border: 1px solid #FCDC12;
}

.important
{
	font-weight: bold;
	color: blue;
	text-decoration: blink;
}

.messagescount
{
	font-weight: bold;
	text-decoration: blink;
}

.status
{
	float: right;
	font-weight: bold;
	margin-right: 1px;
}

td.delete
{
	width: 16px; 
}

.box
{
	margin: 0em;
	margin-top: 0.5em;
	margin-bottom: 0.5em;
	padding: 0.5em;
	width: 100%;
	background-color: #FFFFFF;
	border: 2px solid #E0E0E0;
	border-radius: 0.5em;
	box-shadow: 0em 0em 0.5em 0.10em #404040;
	overflow: hidden;
}

#files
{
	float: left;
	width: 95%;
	height: 15%;
	min-height: 100px;
	padding-top: 15px;
	padding-left: 4px;
	background-color: rgba(255,255,255,1);
}

.files button
{
	float: left;
}

.files
{
	margin-top: 0.5em;
	white-space: nowrap;
	padding: 2px;
}

.filestr
{
	min-height: 16px;
	vertical-align: middle;
	margin-top: 2px;
	/*border-bottom: 1px solid grey;*/
}

.filestr:hover
{
	background-color: #C0C0C0;
}

.filestr .icon
{
	width: 16px;
	min-height: 16px;
	padding-right: 0.25em;
	text-align: left;
}


.files tr
{
	min-height: 16px;
}

.files tr:hover
{
	background-color: #C0C0C0;
}

.files tr td
{
	vertical-align: middle;
}

.files td.icon
{
	width: 16px;
	min-height: 16px;
	padding-right: 0.25em;
	text-align: left;
}

.files td.filename
{
	max-width: 24em;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis; 
}

.files td.filename .type
{
	padding-right: 0.25em;
	font-family: monospace;
	font-weight: bold;
	vertical-align: middle;
	font-variant: small-caps;
	font-size: 1.3em;
}

.files td.size
{
	width: 6em; 
}

.files td.actions
{
	width: 32px;
	min-height: 16px;
	padding-left: 0.5em;
	text-align: left;
}

#contacts
{
	float: left;
	margin-left: 0;
	width: 95%;
	height: auto;
	min-height: 200px;
	max-height: 600px;
	padding-top: 15px;
	padding-left: 4px;
	background-color: rgba(255,255,255,1);
	color: #000000;
	overflow: auto;
}

#contactsTable
{
	float: left;
	margin:0;
	width: 100%;
}

.contactstr
{
	float: left;
	margin: 0;
	min-height: 16px;
	vertical-align: middle;
	width: 100%;
}

.contactstr button
{
	float: left;
}

.contactstr:hover
{
	background-color: #C0C0C0;
}

.contacts tr
{
	min-height: 16px;
}

.contacts tr:hover
{
	background-color: #C0C0C0;
}

.contacts tr td
{
	vertical-align: middle;
}

.contacts td.name
{
 	text-align: right;
	padding-right: 0;
}

.contacts td.tracker
{
 	text-align: left;
	padding-left: 0;
}

.contacts td.status
{
	margin: 0;
	width: 14em;
}

.contacts td.files
{
 	width: 6em;
}

.contacts td.chat
{
	width: 6em; 
}

.name
{
	float: left;
	margin-left: 0;
}

#files .button
{
        float: right;
}

#contacts .button
{
        float: right;
}

#instances tr
{
	min-height: 16px;
	vertical-align: middle;
}

#instances tr:hover
{
	background-color: #C0C0C0;
}

#instances tr td
{
	vertical-align: middle;
}

.menu tr
{
	height: 5em;
}

.menu tr td
{
	vertical-align: middle;
}

.menu tr:hover
{
	background-color: #C0C0C0;
}

.menu td.title
{
	font-weight: bold;
	font-size: 1.33em;
}

.menu .bigicon
{
	height: 5em;
}

.disconnected
{
	margin: 0;
}

.found
{
	margin: 0;
}

.myself
{
	margin: 0;
	background-color: #00E000;
	border: 1px solid black;
}

.online
{
	/*background-color: #00E000;*/
	/*background-color: #FFDC0A;*/
	margin: 0;
	background-color: #BBD2E1;
}

.connected
{
	margin: 0;
	background-color: #FFF48D;
	/*background-color: #FFDC0A;*/
	/* background-color: FEF86C;*/
}

#status.button
{
	font-weight: bold;
	width: auto;
	display: inline-block;
	min-width: 6em;
        margin: 0.2em;
        margin-bottom: 0.5em;
        padding: 0.4em;
	border: 1px solid #A0A0A0;
	border-radius: 0.5em;
	text-align: center;
        vertical-align: middle;
}

#status.button.online
{
	background-color: #BBD2E1;
}

#status.button.connected
{
        background-color: #FFF48D;
}

.search
{
	margin-left: 0;
}

.infoscontact
{
	margin-left: 0;
	float: left;
	width: 100%;
	height: 100px;
	background-color: #FFFFFF;
	border: 2px solid #E0E0E0;
	text-align: center;
	vertical-align: text-bottom;
	/*visibility: hidden;
	height: 0;*/
}

.tracker
{
	float: left;
	margin-left: 2px;
	margin-top: 2px;
}

.linkfiles
{

}

.linkchat
{

}

.childmessage
{
	float: right;
	margin: 1px;
	width: 71%;
}

.reply
{
	display: none;
	float: right;
	margin-top: 3px;
	margin-right: 10px;
	margin-bottom: 2%;
	width: 70%;
}

.replybutton
{
	float: right;
	margin-right: 3px;
	height: 17px;
	width: 17px;
}

.replybutton:hover
{
	float: right;
	border: 1px inset #C1BFB1;
}

.messagewrapper
{

}

.add
{
	float: left;
	width: auto;
}

.profileinfo
{
	font-size: 1.1em;
	margin-top: 2px;
	margin-bottom: 2px;
}

.inputprofile
{
	width: 97%;
}

.profileinfoswrapper
{
	padding: 5px;
	width: 100%;
	min-height: 150px;
	margin-bottom: 20px;
	margin-top: 20px;
}

.profileinfoswrapper .box
{
	width: 95%;
}

.inlinetitle
{
	display: inline;
}

.inlinetitle h2
{
	display: inline;
}

.clearprofilebutton
{
	display: inline;
	margin-top: -1px;
}


#personalstatus
{
	float: left;
	font-size: 1.2em;
	width: 70%;
	height: 150px;
	margin-top: 40px;
	line-height: 40px;
	text-align: center;
	vertical-align: middle;
}

#personalstatus input
{
	display: inline;
	float: left;
	width: auto;
	height: auto;
	margin-top: -1em;
	margin-left: 25%;
	text-align: center;
	vertical-align: middle;
}

#profilephoto
{
	float: right;
	border: 2px solid black;
	width: 20%;
	height: 150px;
	margin-right: 20px;
}

/*#personalinfos
{
	float: left;
	width: 45%;
	height: auto;
	min-height: 150px;
}

#culture
{
	float: right;
	width: 45%;
	height: auto;
	min-height: 150px;
}

#jobs
{
	float: left;
	width: 45%;
	min-height: 150px;
}

#education
{
	float: right;
	width: 45%;
	min-height: 150px;
}

#description
{
	width: 97%;
	min-height: 150px;
}*/

.statusquotemark
{
	font-family: Times New Roman;
	font-style: bold;
	font-size: 1.4em;
	color: black;
}

.empty
{
	color: gray;
}

.gifloading img
{
	display: block;
	margin: 0 auto;
}

/* Mobile version */  

@media screen and (max-width: 480px)
{

	#page
	{
		width: 100%;
		margin: 0;
		padding: 0;
	}

	#wrapper 
	{
		width: 100%;
		margin: 0;
	}

	#leftcolumn
	{
		/*float: left;*/
		width: 100%;
		margin-right: 0;
		margin-left: 0;
		padding: 0;
	}

	#rightcolumn 
	{
		/*float: right;*/
		width: 100%;
		margin-right: 0;
		margin-left: 0;
		max-width: 481px;
	}

	div
	{
		margin: 0;
		padding: 0;
	}

	#newsfeed
	{
		width: 99%;
		margin: 0;
	}

	#statusmessages
	{
		width: 99%;
		margin: 0;
	}

	#logo
	{
		width: 64px;
	}	
}

/* End of mobile version */

/* Tablet version */  

@media screen and (min-width : 768px) and (max-width : 1024px)
{

	#wrapper 
	{
		width: 1024px;
		margin: 0 auto;
	}

	#leftcolumn
	{
		float: left;
		width: 910px;
		margin-left: 110px;
	}

	#rightcolumn 
	{
		float: left;
		width: 700px;
		margin-left: 55px;
	}


}

/* End of Tablet version */
